*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/sbswf1/target/

/sbswf1/.settings/

/sbswf1/.classpath
/sbswf1/.project
/sbswf1/src/main/webapp/static
hs_err_pid*