.page-title-action {
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #f7f7f7;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
}

#title {
	padding: 3px 8px;
	font-size: 1.7em;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin: 0 0 3px;
	background-color: #fff;
}

#edit-slug-box {
	line-height: 24px;
	min-height: 25px;
	margin-top: 5px;
	padding: 0 10px;
	color: #666;
}

.tx {
	padding: 16px 8px;
	font-size: 14px;
}

.p1 {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#col-right {
	float: right;
	clear: right;
	width: 65%;
	overflow: hidden;
}

#col-left {
	width: 35%;
	overflow: hidden;
}

.form-wrap .form-field {
margin: 0 0 10px;
padding: 8px 0;
}

.form-wrap label {
display: block;
padding: 2px;
font-size: 12px;
}

.tabs-panel {
min-height: 42px;
max-height: 200px;
overflow: auto;
padding: 0 .9em;
border: 1px solid #ddd;
background-color: #fdfdfd;
}
ul {
list-style: none;
padding-left:0;
}