<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的值为Dao的全类名（包名+类名） -->
<mapper namespace="com.joshuait.sbswf.dao.UserMapper">

	<resultMap id="userMapper" type="com.joshuait.sbswf.entity.User">
		<id column="id" property="id" />
		<result column="user_login" property="userLogin" />
		<result column="user_pass" property="userPass" />
		<result column="user_nicename" property="userNicename" />
		<result column="user_email" property="userEmail" />
		<result column="user_registered" property="userRegistered" />
		<result column="user_activation_key" property="userActivationKey" />
		<result column="user_status" property="userStatus" />
		<result column="display_name" property="displayName" />
		<result column="post_author" property="postAuthor" />
		<result column="h" property="h" />
	</resultMap>

	<select id="getByUser" parameterType="com.joshuait.sbswf.entity.User"
		resultMap="userMapper">
		select t.*,count(t.id) as h FROM(
			SELECT u.*, p.post_author FROM wp_users u
			LEFT JOIN wp_posts p on p.post_author=u.id
		) t 
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userLogin != null and userLogin != ''">
				OR user_login like #{userLogin}
			</if>
			<if test="userPass != null and userPass != ''">
				OR user_pass like #{userPass}
			</if>
			<if test="userNicename != null and userNicename != ''">
				OR user_nicename like #{userNicename}
			</if>
			<if test="userEmail != null and userEmail != ''">
				OR user_email like #{userEmail}
			</if>
			<if test="userRegistered != null and userRegistered != ''">
				OR user_registered like #{userRegistered}
			</if>
			<if test="userActivationKey != null and userActivationKey != ''">
				OR user_activation_key like #{userActivationKey}
			</if>
			<if test="userStatus != null and userStatus != ''">
				OR user_status like #{userStatus}
			</if>
			<if test="displayName != null and displayName != ''">
				OR display_name like #{displayName}
			</if> 
		</where>
		GROUP BY t.id
		</select>

	<select id="getById" parameterType="Long" resultMap="userMapper">
		select * from
		wp_users where id =#{id}
	</select>

	<select id="search" parameterType="com.joshuait.sbswf.entity.User"
		resultMap="userMapper">
		select * from wp_users

		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="userLogin != null and userLogin != ''">
				OR user_login like #{userLogin}
			</if>
			<if test="userPass != null and userPass != ''">
				OR user_pass like #{userPass}
			</if>
			<if test="userNicename != null and userNicename != ''">
				OR user_nicename like #{userNicename}
			</if>
			<if test="userEmail != null and userEmail != ''">
				OR user_email like #{userEmail}
			</if>
			<if test="userRegistered != null and userRegistered != ''">
				OR user_registered like #{userRegistered}
			</if>
			<if test="userActivationKey != null and userActivationKey != ''">
				OR user_activation_key like #{userActivationKey}
			</if>
			<if test="userStatus != null and userStatus != ''">
				OR user_status like #{userStatus}
			</if>
			<if test="displayName != null and displayName != ''">
				OR display_name like #{displayName}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.joshuait.sbswf.entity.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into wp_users
		(user_login,user_pass,user_nicename,user_email,user_registered,user_activation_key,user_status,display_name)
		values
		(#{userLogin},#{userPass},#{userNicename},#{userEmail},#{userRegistered},#{userActivationKey},#{userStatus},#{displayName})
	</insert>

	<update id="update" parameterType="com.joshuait.sbswf.entity.User">
		update wp_users
		<set>
			<if test="userLogin != null">user_login=#{userLogin},</if>
			<if test="userPass != null">user_pass=#{userPass},</if>
			<if test="userNicename != null">user_nicename = #{userNicename},</if>
			<if test="userEmail != null">user_email = #{userEmail},</if>
			<if test="userRegistered != null">user_registered = #{userRegistered},</if>
			<if test="userActivationKey != null">user_activation_key = #{userActivationKey},</if>
			<if test="userStatus != null">user_status = #{userStatus},</if>
			<if test="displayName != null">display_name = #{displayName}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="delete">
		delete from wp_users where id = #{id}
	</delete>

</mapper>